#!/usr/bin/make -f

%:
	dh $@
	
override_dh_auto_configure:
	mkdir -p build
	meson setup build
	meson configure build -Dinstall_pam_config=true -Dpam_dir=/usr/lib/security/howdy -Dconfig_dir=/etc/howdy -Ddlib_data_dir=/usr/share/dlib -Duser_models_dir=/usr/share/dlib-models -Ddata_dir=/usr/share/howdy

override_dh_auto_build:
	ninja -C build

override_dh_install:
	# nothing #
